<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>GiftMe</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://play.google.com/apps/publish/?dev_acc=09459044024038519530#MarketListingPlace:p=co.giftmeapp.gift_me">GiftMe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="https://play.google.com/apps/publish/?dev_acc=09459044024038519530#MarketListingPlace:p=co.giftmeapp.gift_me">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <br>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=4>GIFTME PRIVACY
POLICY</FONT></FONT></P>
<br>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>This privacy policy
governs your use of the software application GiftMe (“Application”)
for mobile devices that was created by&nbsp;GiftMe Ltd.&nbsp;The
Application is&nbsp;a wishlist creation and crowd-funding platform
where users can share items that they would like to receive as gifts,
and their friends can chip in to help them get the gift.&nbsp;</FONT></P>
<br>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid">&nbsp;<FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>User
Provided Information</B>&nbsp;</FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>The Application obtains
the information you provide when you download and log into the
Application. When you log into and use the Application, you generally
provide&nbsp;(a) your name, email address, birthday and list of
friends who are also using the Application; (b) wishlist-related
information, such as when you add an item to a wishlist, or chip in
for an item on someone's wishlist; (c) information you provide us
when you contact us for help.</FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>We may also use the
information you provided us to contact your from time to time to
provide you with important information and required notices.</FONT></P>
<br>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3><B>Automatically Collected
Information</B>&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;<FONT SIZE=3>In addition, the
Application may collect certain information automatically, including,
but not limited to, the type of mobile device you use, your mobile
devices unique device ID, the IP address of your mobile device, your
mobile operating system, the type of mobile Internet browsers you
use, and information about the way you use the Application.&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>This Application does not
collect precise information about the location of your mobile
device.&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>This Application
uses the Stripe payment processor to process payments. All credit card information passed directly to Stripe and is never sent to our servers.&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>Aggregated,
anonymized data is periodically transmitted to external services to
help us improve the Application and our service.&nbsp;We will share
your information with third parties only in the ways that are
described in this privacy statement.</FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>We may disclose User
Provided and Automatically Collected Information:</FONT></P>
<P STYLE="margin-bottom: 0cm">   
</P>
<UL>
	<LI>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>as required by law, such
as to comply with a subpoena, or similar legal process;</FONT></P>
</UL>
<UL>
	<LI>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>when we believe in good
faith that disclosure is necessary to protect our rights, protect
your safety or the safety of others, investigate fraud, or respond to
a&nbsp;government request;</FONT></P>
</UL>
<UL>
	<LI>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>with our trusted services
providers who work on our behalf, do not have an&nbsp;independent use
of the information we disclose to them, and have agreed to adhere&nbsp;to
the rules set forth in this privacy statement.</FONT></P>
</UL>
<UL>
	<LI>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>if&nbsp;GiftMe Ltd&nbsp;is
involved in a merger, acquisition, or sale of all or a&nbsp;portion
of its assets, you will be notified via email and/or a prominent
notice on our Web site of any change in ownership or uses of this
information, as well as any choices you may have regarding this
information.</FONT></P>
</UL>
<P STYLE="margin-bottom: 0cm">&nbsp;<FONT SIZE=3>You can stop all
collection of information by the Application easily by uninstalling
the Application. You may use the standard uninstall processes as may
be available as part of your mobile device or via the mobile
application marketplace or network. You can also request to opt-out
via email, at .</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Data
Retention Policy, Managing Your Information</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>We will retain User
Provided data for as long as you use the Application and for a
reasonable time thereafter. We will retain Automatically Collected
information for up to 24 months&nbsp;and thereafter may store it in
aggregate. If you’d like us to delete User Provided Data that you
have provided via the Application, please contact us at
timcallagy@gmail.com&nbsp;and we will respond in a reasonable
time. Please note that some or all of the User Provided Data may be
required in order for the Application to function properly.</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Children</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>We do not use the
Application to knowingly solicit data from or market to children
under the age of 13. If a parent or guardian becomes aware that his
or her child has provided us with information without their consent,
he or she should contact us at timcallagy@gmail.com&nbsp;. We
will delete such information from our files within a reasonable time.</FONT></P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Security</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;<FONT SIZE=3>We are concerned
about safeguarding the confidentiality of your information. We
provide physical, electronic, and procedural safeguards to protect
information we process and maintain. For example, we limit access to
this information to authorized employees and contractors who need to
know that information in order to operate, develop or improve our
Application. Please be aware that, although we endeavor provide
reasonable security for information we process and maintain, no
security system can prevent all potential security breaches.</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Changes</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>This Privacy Policy may be
updated from time to time for any reason. We will notify you of any
changes to our Privacy Policy by posting the new Privacy Policy&nbsp;here
and&nbsp;informing you via email or text message. You are advised to
consult this Privacy Policy regularly for any changes, as continued
use is deemed approval of all changes.&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Your
Consent</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>By using the Application,
you are consenting to our processing of your information as set forth
in this Privacy Policy now and as amended by us. &quot;Processing,”
means using cookies on a computer/hand held device or using or
touching information in any way, including, but not limited to,
collecting, storing, deleting, using, combining and disclosing
information, all of which activities will take place in the United
States. If you reside outside the United States&nbsp;your information
will be transferred, processed and stored there under United
States&nbsp;privacy standards.&nbsp;</FONT></P>
<P STYLE="margin-bottom: 0cm">&nbsp;</P>
<P STYLE="margin-bottom: 0cm; page-break-after: avoid"><FONT FACE="Arial, serif"><FONT SIZE=3 STYLE="font-size: 13pt">Contact
us</FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3>If you have any questions
regarding privacy while using the Application, or have questions
about our practices, please contact us via email at
timcallagy@gmail.com&nbsp;.</FONT></P>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  

</body></html>
